<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <title>Tech Blog</title>
    <link rel = "stylesheet" href = "/css/main.css">
</head>

<body>

    <header class = "header"> Welcome to Your Tech Blog!</header>

    <section id="link_sections">

        <div> <a href="#Home"> Home / Index </a> </div> 
        <div> <a href="#Dashboard"> Dashboard </a> </div>
        <div> <a href="#Signin"> Sign Up / In </a> </div>
        <div> <a href="#logout"> Log Out </a>  </div>

    </section>

    {{{body}}}

</body>
<script src = "/javascript.js"></script>
</html>