<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel = "stylesheet" href = "./main.css">
</head>
<header class = "header"> Welcome to Your Tech Blog!</header>
<body>

    <section id="link_sections">

        <div><a href="#Home"> Home / Index </a> </div> 
        <div> <a href="#Dashboard"> Dashboard </a> </div>
        <div> <a href="#Signin"> Sign Up / In </a> </div>
        <div> <a href="#logout"> Log Out </a>  </div>

    </section>



    
</body>
</html>